body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    margin-top: -125px;
    height: 350px;
    width: 600px;
    background-color: rgba(240, 240, 240, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    font-size: 32px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.submit {
    margin-left: 10px;
    border-radius: 10px;
    font-size: 41px;
    border: none;
    background-color: white;
    color: rgb(112, 163, 252);
    cursor: pointer;
}